@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    /* border: 1px solid red; */
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.273)), url("../img/header-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.fa-solid, .fa-brands {
    cursor: pointer;
}

#resume ul li {
    list-style-image: url("/img/list-style.png");
}

.paragraph {
    text-align: justify !important;
}

.outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    width: 120px;
    height: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.12),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.circle1 {
    fill: none;
    stroke: url(#grad1);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anime1 2s linear forwards;
}

.circle2 {
    fill: none;
    stroke: url(#grad1);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anime2 2s linear forwards;
}
.circle3 {
    fill: none;
    stroke: url(#grad1);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anime3 2s linear forwards;
}
.circle4 {
    fill: none;
    stroke: url(#grad1);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anime4 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anime1 {
    100% {
        stroke-dashoffset: 44;
    }
}

@keyframes anime2 {
    100% {
        stroke-dashoffset: 64;
    }
}

@keyframes anime3 {
    100% {
        stroke-dashoffset: 84;
    }
}

@keyframes anime4 {
    100% {
        stroke-dashoffset: 104;
    }
}

.nnn {
    min-height: 75vh !important;
}

#feedback {
    background-image: url("../img/feedback-image-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.line {
	-webkit-text-stroke: 1px #fff;
    color: transparent !important;
}

#success-story {
    background-image: url("../img/EMOJIS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    left: 6%;
    top: 1%;
    width: 30%;
    height: 400px;
}

.box-small {
    left: 21%;
    bottom: 16%;
    width: 19%;
    height: 100px;
}

.colour {
    background-color: rgb(228, 226, 226);
}

footer {
    background-image: url("../img/footer-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scrolling {
    position: relative;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
}

.scrolling::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.355), rgba(255, 255, 255, 0.355));
    z-index: 1;
    animation: animebtn 3s ease infinite;
}

@keyframes animebtn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navhov{
    position: relative;
}

.navhov::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 8%;
    background: white;
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
}

.navhov::after{
    content: "";
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 0;
    height: 7%;
    background: white;
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
}

.navhov:hover::before {
    width: 100%;
}

.navhov:hover::after {
    width: 50%;
}

.about-hover{
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.about-hover:hover {
    background-color: rgb(15, 15, 15) !important;
    color: white !important;
}

.work-hover{
    position: relative;
    cursor: pointer;
}

.work-hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2) 50%, transparent);
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.357);
}

.work-hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to bottom right, transparent, rgba(253, 253, 253, 0.2) 50%);
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.357);
}

.work-hover:hover::before {
    width: 100%;
    height: 100%;
}

.work-hover:hover::after {
    width: 100%;
    height: 100%;
}

.work-title {
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: 20;
}
.work-hover:hover .work-title {
    opacity: 1 !important;
    z-index: 20;
}

.client-hover{
    transition: all 0.5s ease-in-out;
}
.client-hover:hover {
    cursor: pointer;
    background-color: rgba(228, 226, 226, 0.1) !important;
}

@media (max-width: 450px) {
    .header-content {
        width: 100% !important;
    }

    .hide {
        display: none !important;
    }

    .center {
        text-align: center;
    }

    .small {
        justify-content: center !important;
    }
}

@media (max-width: 800px) {
    .hide {
        display: none !important;
    }

    .center {
        text-align: center;
    }

    .small {
        justify-content: center !important;
    }
}