@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    /* border: 1px solid red; */
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.273)), url("../img/header-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.fa-solid, .fa-brands {
    cursor: pointer;
}

#resume ul li {
    list-style-image: url("/img/list-style.png");
}

.paragraph {
    text-align: justify !important;
}

.outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    background-color: black;
}

.inner {
    width: 120px;
    height: 120px;
    background-color: white;
    
}

.nnn {
    min-height: 75vh !important;
}

#feedback {
    background-image: url("../img/feedback-image-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.line {
	-webkit-text-stroke: 1px #fff;
    color: transparent !important;
}

input:focus {
    box-shadow: none !important;
    border-color: white !important;
}

input:checked {
    background-color: black !important;
}

.success {
    background-image: url("../img/EMOJIS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    left: 6%;
    top: 1%;
    width: 30%;
    height: 400px;
}

.box-small {
    left: 21%;
    bottom: 16%;
    width: 19%;
    height: 100px;
}

.colour {
    background-color: rgb(228, 226, 226);
}

footer {
    background-image: url("../img/footer-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scrolling {
    position: relative;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
}

.scrolling::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.355), rgba(255, 255, 255, 0.355));
    z-index: 1;
    animation: animebtn 3s ease infinite;
}

@keyframes animebtn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navhov{
    position: relative;
}

.navhov::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 8%;
    background: white;
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
}

.navhov::after{
    content: "";
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 0;
    height: 7%;
    background: white;
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
}

.navhov:hover::before {
    width: 100%;
}

.navhov:hover::after {
    width: 50%;
}

.about-hover{
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.about-hover:hover {
    background-color: rgb(15, 15, 15) !important;
    color: white !important;
}

.swiper {
    width: 600px;
  }

.work-hover{
    position: relative;
    cursor: pointer;
}

.work-hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2) 50%, transparent);
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.357);
}

.work-hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to bottom right, transparent, rgba(253, 253, 253, 0.2) 50%);
    z-index: 1;
    transition: 1s all ease;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.357);
}

.work-hover:hover::before {
    width: 100%;
    height: 100%;
}

.work-hover:hover::after {
    width: 100%;
    height: 100%;
}

.work-title {
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: 20;
}
.work-hover:hover .work-title {
    opacity: 1 !important;
    z-index: 20;
}

.client-hover{
    transition: all 0.5s ease-in-out;
}
.client-hover:hover {
    cursor: pointer;
    background-color: rgba(228, 226, 226, 0.1) !important;
}

.change-text {
    transition: all 1s ease-in-out;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    /* transform: translateY(100px); */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ads:hover {
    background: white !important;
    color: black !important;
    border: none !important;
}

.ads2:hover {
    background: white !important;
    color: black !important;
    border: none !important;
}

.ads {
    animation: ads 1.5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.ads2 {
    animation: ads2 1.5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.bg {
    background: url(../img/bg.jpg);
}

#blog-head input:focus {
    outline: none !important;
    color: rgba(245, 245, 245, 0.822) !important;
}

@keyframes ads {
    0% {
        transform: translateY(0);
        box-shadow: 1px 1px 3px 3px rgba(36, 34, 34, 0.1);
    }
    50% {
        transform: translateY(4px);
        box-shadow: 1px 1px 3px 3px rgba(36, 34, 34, 0.355);
    }
    100% {
        transform: translateY(0);
        box-shadow: 1px 1px 3px 3px rgba(36, 34, 34, 0.1);
    }
}

@keyframes ads2 {
    0% {
        transform: translateY(0);
        box-shadow: 1px 1px 3px 3px rgba(219, 206, 206, 0.1);
    }
    50% {
        transform: translateY(4px);
        box-shadow: 1px 1px 3px 3px rgba(224, 211, 211, 0.355);
    }
    100% {
        transform: translateY(0);
        box-shadow: 1px 1px35px 3px rgba(224, 210, 210, 0.1);
    }
}

.modal-row-one {
    transition: 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-content {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    z-index: 3;
}

.hidden {
    display: none;
}

.moon {
    right: 2%;
    bottom: 5%;
    z-index: 5;
}

.fa-moon {
    -webkit-text-stroke: 1px #fff;
}

.fa-sun {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: white;
}

.light {
    background-color: #fff !important;
}


@media (max-width: 800px) {
    .header-content {
        width: 80% !important;
        margin: auto !important;
    }

    .hide {
        display: none !important;
    }

    .center {
        text-align: center;
    }

    .small {
        justify-content: center !important;
    }

    .mod {
        width: 70% !important;
    }

    .modal-content {
        width: 50%;
        /* height: 20%; */
    }
}

@media (max-width: 450px) {
    .header-content {
        width: 100% !important;
    }

    .hide {
        display: none !important;
    }

    .center {
        text-align: center;
    }

    .small {
        justify-content: center !important;
    }

    .work-title{
        opacity: 1 !important;
    }

    .mod {
        width: 100% !important;
    }

    .modal-content {
        width: 90%;
        /* height: 20%; */
    }

    .swiper {
        width: 100% !important;
      }
}

